body {
  font: 13px "Open Sans", sans-serif;
  color: #777777;
  padding: 0;
  margin: 0; }

div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, input, textarea, address {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none; }

* {
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0; }

/****sass*** */
/************************************header************************* */
.main-header {
  background: url("../img/header-bg.png") no-repeat 0 100%, #76c7c0; }

.logo a {
  padding: 25px 0;
  font-size: 30px;
  font-weight: 800;
  color: #ffffff;
  float: left;
  text-decoration: none; }

.active-dropdown {
  background: #e8645a;
  -moz-box-shadow: 0 3px 0 #e2534b;
  -webkit-box-shadow: 0 3px 0 #e2534b;
  box-shadow: 0 3px 0 #e2534b; }

.main-menu ul {
  position: relative;
  margin: 35px 0;
  float: right; }
  .main-menu ul .menu-item-home a {
    background: #62a29e;
    font-size: 14px;
    -moz-box-shadow: 0 3px 0 #528b86;
    -webkit-box-shadow: 0 3px 0 #528b86;
    box-shadow: 0 3px 0 #528b86; }
  .main-menu ul li {
    float: left;
    list-style-type: none;
    padding: 0 10px; }
    .main-menu ul li a {
      padding: 5px 15px;
      color: #ffffff;
      text-transform: uppercase;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px;
      text-decoration: none; }
      .main-menu ul li a:hover {
        background: #62a29e;
        -moz-box-shadow: 0 3px 0 #528b86;
        -webkit-box-shadow: 0 3px 0 #528b86;
        box-shadow: 0 3px 0 #528b86; }
  .main-menu ul .menu-item-58 {
    display: block; }
    .main-menu ul .menu-item-58 a:hover {
      background: #e8645a;
      -moz-box-shadow: 0 3px 0 #e2534b;
      -webkit-box-shadow: 0 3px 0 #e2534b;
      box-shadow: 0 3px 0 #e2534b; }
    .main-menu ul .menu-item-58 a:before {
      content: "";
      background: url("../img/arrow-down.png") no-repeat 50% 50%;
      width: 10px;
      height: 10px;
      display: inline-block;
      margin-right: 5px; }
    .main-menu ul .menu-item-58 .sub-menu {
      position: absolute;
      z-index: 5;
      top: 5px;
      display: none;
      background: #e2534b;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px; }
      .main-menu ul .menu-item-58 .sub-menu:before {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        top: -7px;
        left: 15px;
        border-style: solid;
        border-width: 0 6.5px 8px 6.5px;
        border-color: transparent transparent #e2534b transparent; }
      .main-menu ul .menu-item-58 .sub-menu li {
        float: none;
        margin: 5px;
        padding: 0; }
        .main-menu ul .menu-item-58 .sub-menu li a {
          background: #e5655d;
          text-transform: none;
          display: block;
          padding: 5px 15px 5px 5px; }
          .main-menu ul .menu-item-58 .sub-menu li a:before {
            content: "";
            background: url("../img/arrow-right.png") no-repeat 50% 50%;
            width: 10px;
            height: 10px;
            display: inline-block;
            margin-right: 5px; }
          .main-menu ul .menu-item-58 .sub-menu li a:hover {
            background: #76c7c0;
            text-decoration: none;
            box-shadow: none; }

/**********************content**************** */
/*slider**************************** */
#owl-demo .item {
  display: block;
  width: 100%;
  height: auto;
  padding: 160px 0; }

#owl-demo .owl-pagination {
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -110px; }
  #owl-demo .owl-pagination .owl-page {
    width: 60px;
    height: 5px;
    background: #b0b8b9;
    margin-right: 10px; }
    #owl-demo .owl-pagination .owl-page span {
      display: none !important; }
  #owl-demo .owl-pagination .active {
    background: #e2534b; }
#owl-demo .owl-controls {
  margin: 0; }
  #owl-demo .owl-controls .owl-buttons .owl-prev, #owl-demo .owl-controls .owl-buttons .owl-next {
    width: 50px;
    height: 60px;
    position: absolute;
    opacity: 1;
    padding: 0;
    margin: -30px 0 0;
    top: 50%; }
  #owl-demo .owl-controls .owl-buttons .owl-prev {
    left: 0;
    background: url("../img/slider-left.png") 50% 50% no-repeat, #e8645a;
    border-radius: 0 5px 5px 0; }
  #owl-demo .owl-controls .owl-buttons .owl-next {
    right: 0;
    background: url("../img/slider-right.png") 50% 50% no-repeat, #e8645a;
    border-radius: 5px 0 5px 0; }

.slider {
  background: #7f8c8c;
  text-align: center;
  /*padding: 160px 0 */
  position: relative; }
  .slider h1 {
    margin-bottom: 20px; }
    .slider h1 span {
      font-size: 50px;
      font-weight: 800;
      color: #ffffff;
      background: #e2534b;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      padding: 0 5px; }
  .slider p {
    background: #3f4646;
    font-size: 16px;
    color: #ffffff;
    width: 470px;
    margin: 0 auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 20px; }

/*******top-services******* */
.top-services {
  background: #f3f3f3;
  padding: 50px 0; }

.intro {
  background: #ececec;
  padding: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 50px; }

.wrap-header-intro {
  float: left; }
  .wrap-header-intro h3 {
    font-size: 30px;
    font-weight: 600; }

.view-more-btn {
  float: right;
  text-transform: uppercase;
  font-size: 20px;
  color: #ffffff;
  padding: 10px 30px;
  background: #e8645a;
  -moz-box-shadow: 0 3px 0 #e2534b;
  -webkit-box-shadow: 0 3px 0 #e2534b;
  box-shadow: 0 3px 0 #e2534b;
  outline: none;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.services li {
  padding: 0; }
  .services li .wrapper-services {
    height: 300px;
    background: #f8f8f8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin-right: 20px;
    -moz-box-shadow: 0 3px 0 #e5e6e6;
    -webkit-box-shadow: 0 3px 0 #e5e6e6;
    box-shadow: 0 3px 0 #e5e6e6; }
    .services li .wrapper-services img {
      margin-top: 30px; }
    .services li .wrapper-services h4 {
      font-weight: 800;
      font-size: 16px;
      color: 7f8c8c;
      text-transform: uppercase;
      margin-bottom: 30px;
      margin-top: 20px; }
    .services li .wrapper-services p {
      color: #777777;
      margin-bottom: 90px; }
    .services li .wrapper-services .button {
      position: absolute;
      bottom: -28px;
      left: 50%;
      margin-left: -110px;
      padding: 15px 65px;
      background: #76c7c0;
      -moz-box-shadow: 0 3px 0 #62b9b0;
      -webkit-box-shadow: 0 3px 0 #62b9b0;
      box-shadow: 0 3px 0 #62b9b0;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px; }
      .services li .wrapper-services .button a {
        font-size: 14px;
        color: #ffffff; }
  .services li:first-child .wrapper-services {
    background: #ffffff; }
    .services li:first-child .wrapper-services .button {
      background: #e8645a;
      -moz-box-shadow: 0 3px 0 #e2534b;
      -webkit-box-shadow: 0 3px 0 #e2534b;
      box-shadow: 0 3px 0 #e2534b; }

/******about**** */
.about header {
  background: url("../img/about-bg.png") no-repeat, #ececec;
  text-align: center;
  position: relative; }
  .about header h2 {
    color: #e1524b;
    font-size: 40px;
    margin-top: 40px;
    font-weight: 700;
    text-transform: uppercase; }
  .about header p {
    color: #777777;
    margin-bottom: 275px; }
  .about header img[alt=your-image1] {
    position: absolute;
    left: 50%;
    margin-left: -285px;
    top: 50%;
    z-index: 5; }
  .about header img[alt=your-image2] {
    position: absolute;
    left: 8%;
    top: 67%;
    z-index: 3; }
  .about header img[alt=your-image3] {
    position: absolute;
    left: 64%;
    top: 67%;
    z-index: 3; }

.content-about {
  background: #f3f3f3;
  padding-top: 200px; }

.why-choose-us h4 {
  font-weight: 800;
  font-size: 16px;
  margin-bottom: 30px; }
.why-choose-us li {
  background: url("../img/arrow-chose-us.png") no-repeat 0 50%;
  padding-left: 20px;
  margin-bottom: 5px; }

.our-skill li {
  width: 25%;
  float: left;
  text-align: center;
  font-weight: 800;
  padding-top: 50px;
  background: url("../img/skill1.png") no-repeat 50% 32%; }
  .our-skill li p {
    font-size: 30px;
    margin-bottom: 35px; }
  .our-skill li h5 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 800; }

.testimonials h4 {
  font-weight: 800;
  font-size: 16px;
  margin-bottom: 30px; }
.testimonials p:first-child {
  background: #f8f8f8;
  padding: 10px 20px;
  margin-bottom: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
  .testimonials p:first-child span {
    font-style: italic; }
.testimonials p:last-child {
  background: none;
  text-align: center; }

.our-happy-clients {
  padding-top: 50px;
  background: #f3f3f3; }
  .our-happy-clients h4 {
    font-weight: 800;
    font-size: 16px;
    margin-bottom: 30px; }
    .our-happy-clients h4 span {
      position: relative; }
      .our-happy-clients h4 span:after {
        content: url("../img/line.png");
        position: absolute;
        margin-top: -3px;
        right: -900px; }

#owl-demo2 .item {
  background: #ffffff;
  width: 170px;
  height: 90px;
  padding: 30px 0px;
  margin: 10px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center; }

#owl-demo2 .owl-controls {
  margin: 0; }
  #owl-demo2 .owl-controls .owl-buttons .owl-prev, #owl-demo2 .owl-controls .owl-buttons .owl-next {
    width: 40px;
    height: 40px;
    position: absolute;
    opacity: 1;
    padding: 0;
    margin: -30px 0 0;
    top: 50%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
  #owl-demo2 .owl-controls .owl-buttons .owl-prev {
    right: 60px;
    top: -30px;
    background: url("../img/clients-arrow-left.png") 50% 50% no-repeat, #98a3a3; }
    #owl-demo2 .owl-controls .owl-buttons .owl-prev:hover {
      background: url("../img/clients-arrow-left.png") 50% 50% no-repeat, #e2534b; }
  #owl-demo2 .owl-controls .owl-buttons .owl-next {
    right: 9px;
    top: -30px;
    background: url("../img/clients-arrow-right.png") 50% 50% no-repeat, #98a3a3; }
    #owl-demo2 .owl-controls .owl-buttons .owl-next:hover {
      background: url("../img/clients-arrow-right.png") 50% 50% no-repeat, #e2534b; }

/*********footer*** */
footer {
  background: url("../img/footer-bg.png") no-repeat, #76c7c0;
  padding-top: 50px;
  color: #ffffff; }

.footer-part1 .logo-footer a {
  font-size: 30px;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 20px;
  text-decoration: none; }
.footer-part1 address {
  margin: 10px 0; }
  .footer-part1 address span {
    font-style: italic;
    font-size: 20px;
    margin-left: 10px; }

.footer-part2 h4, .footer-part3 h4 {
  font-size: 20px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 30px; }
.footer-part2 ul, .footer-part3 ul {
  margin-left: 15px; }
  .footer-part2 ul li, .footer-part3 ul li {
    background: url("../img/arrow-right.png") 0% 50% no-repeat; }
    .footer-part2 ul li a, .footer-part3 ul li a {
      margin-left: 15px;
      color: #ffffff; }

.footer-part4 h4 {
  font-style: italic;
  margin-bottom: 30px; }
  .footer-part4 h4 span {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700; }
.footer-part4 ul li {
  margin-bottom: 20px; }
.footer-part4 article img {
  float: left;
  margin-right: 20px; }
.footer-part4 article time {
  color: rgba(0, 0, 0, 0.5);
  width: 70%;
  float: left; }
.footer-part4 article h6 {
  width: 70%;
  float: left;
  margin-bottom: 10px; }

.copyright-social {
  padding: 10px 0;
  background: #6ab3ac; }
  .copyright-social .copyright {
    font-size: 12px;
    float: left;
    margin: 2px 0; }
  .copyright-social ul {
    float: right; }
    .copyright-social ul li {
      float: left; }
      .copyright-social ul li a {
        width: 22px;
        height: 22px;
        float: left;
        margin-left: 25px;
        background: url("../img/rss-ico.png"); }

/*# sourceMappingURL=styles.css.map */
